#cover-title {
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 50px;
    margin: 0;
}
h3 {
    text-align: center;
    margin: 0;
}
.cool-font {
    font-weight: bold;
}